<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <title>Django Salesforce OAuth | Example Project</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Django Salesforce OAuth | Example Project</a>
  </nav>
  <div class="container pt-5">
    {% if user.is_authenticated %}
    <p>You're now signed in using your Salesforce creds!</p>
    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    {% else %}
    <p>Press me, and I'll take you to Salesforce!</p>
    <a href="{% url 'oauth' %}" class="btn btn-primary">Login</a>
    <hr />
    <p>Press me, and I'll take you to a Salesforce sandbox!</p>
    <a href="{% url 'oauth-sandbox' %}" class="btn btn-primary">Sanbox Login</a>
    {% endif %}
  </div>
</body>

</html>